.card-shine {
  position: relative;
  overflow: hidden;
}

.card-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.4), transparent);
  transition: all 0.5s ease;
}

.card-shine:hover::before {
  left: 100%;
}

/* Change nprogress bar height */
#nprogress .bar {
  height: 2px !important;
}
