@config "../tailwind.config.js";
@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html.light {
    --background: white;
    --foreground: black;
    background-color: var(--background);
    color: var(--foreground);
  }

  html.dark {
    --background: #1a1b23;
    --foreground: #e6edf3;
    background-color: var(--background);
    color: var(--foreground);
  }
  
}